# Backend API
MONGODB_URI=mongodb://adminulifer:ID%29%26Gv-Wxbc6@localhost:27017/seguros?authSource=seguros
MONGODB_DB=seguros
JWT_SECRET=dev-secret-change-me
PORT=4000
ACCESS_TTL_SECONDS=7200
REFRESH_TTL_SECONDS=86400

# Frontend
VITE_API_URL=http://179.27.98.202:4000
